<!DOCTYPE html>
<html lang="fr">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
    
    {% block title %}<title>Rent A Car</title>{% endblock %}

    {% block stylesheet %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="{{ asset("css/style.css") }}" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    {% endblock %}
    
</head>
    
<body>
    
    <style>
        .fa{
            color:#ef6c00;
        }
    </style>
    
    {% block nav %}
    <nav class="orange darken-2">
        <div class="nav-wrapper">
            <a href="{{ path('home') }}" class="brand-logo">Symfony</a>
             <ul class="right hide-on-med-and-down">
                <li> <a href="{{ path("home") }}">Accueil</a></li>
            </ul>
            <a href=href="{{ path("home") }}" data-activates="mobile-demo" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
            {# <ul class="right hide-on-med-and-down">
                <li> <a href="{{ path("home") }}">Accueil</a></li>
            </ul> #}
        </div>
    </nav>
    {% endblock %}
            
    {% block flash_messages %}
        {% for message in app.flashes('notice') %}
            <div class="card-panel teal lighten-2">
                {{ message }}
            </div>
        {% endfor %}
    {% endblock %}
            
    {% block body %}

    {% endblock %}
        
    {% block footer %}
    <footer class="page-footer orange darken-3">
        <div class="footer-copyright">
            <div class="container">
                © {{ "now"|date('Y') }} Made With <3 by <a href="#" style="color: darkblue;">Bouhlel El Bechri</a>
            </div>
        </div>
    </footer>
    {% endblock %}

    {% block javascript %}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    {% endblock %}
    
</body>
</html>
